<link rel="stylesheet" href="/UI/Styles/AppFooterStyling.css" />
<link rel="stylesheet" href="/UI/Styles/FontPackages.css" />

<footer class="footer">
  <div class="footer-top">
    <div class="footer-links">
      <div class="footer-column">
        <h3 class="footer-heading">Curated Creatures</h3>
        <a class="footer-link" href="/content.html?id=gobby-goblin"
          >Little Gobby Goblin</a
        >
        <a class="footer-link" href="/content.html?id=spicy-rat"
          >The Spicy Rat</a
        >
        <a class="footer-link" href="/content.html?id=curse-warden"
          >Bloodbound Curse-Warden</a
        >
      </div>
      <div class="footer-column">
        <h3 class="footer-heading">Guides</h3>
        <a class="footer-link" href="/help.html">Help & About</a>
        <a
          class="footer-link"
          target="_blank"
          href="https://forms.gle/ykp5gqrRQxmDskMD8"
          >Feedback Form</a
        >
      </div>
      <!--
      <div class="footer-column">
        <h3 class="footer-heading">Heading 3</h3>
        <a class="footer-link" href="https://www.google.com" target="_blank"
          >Link 1</a
        >
      </div>
    
-->
    </div>
    <div class="footer-logo">
      <img
        src="/UI/Components/Logos/LittleGobbySlots.png"
        alt="Goblin Mascot"
        class="footer-logo-img"
      />
    </div>
  </div>

  <div class="footer-divider"></div>

  <div class="footer-bottom">
    <p class="footer-disclaimer">
      Disclaimer: The MonsterFactory™ Council accepts no responsibility for
      injuries, curses, spontaneous combustions, existential crises, or
      interdimensional mishaps resulting from the use of generated creatures.
      All monsters are entirely fictional, occasionally unpredictable, and
      should not be fed after midnight. Proceed with creativity and caution.
    </p>

    <p class="footer-copy">
      Version 0.1.1 | © 2026 RyanFuturistics | MonsterFactory™ | All rights
      reserved.
    </p>
  </div>
</footer>
