<link rel="stylesheet" href="/UI/Styles/AppMenuStyling.css" />
<link rel="stylesheet" href="/UI/Styles/FontPackages.css" />

<div class="menu-background">
  <div class="menu-container">
    <a href="/" class="menu-logo">
      <img
        src="/UI/Components/Logos/MonsterFactoryLogo.png"
        class="menu-logo-img"
        alt="Monster Factory Logo"
      />
    </a>

    <div class="menu-mobile-buttons">
      <button class="menu-hamburger-btn" id="menuHamburger">&#9776;</button>
    </div>

    <nav class="menu-nav" id="menuItemContainer">
      <a class="menu-item" href="/">Roll Creature</a>
      <!--<a class="menu-item" href="/gallery.html">Curated</a>-->
      <a class="menu-item" href="/help.html">About & Help</a>
    </nav>
  </div>
</div>
<div class="menu-divider"></div>
