/*-----------------------------------------------------------*/
/* Mobile-first Menu */
/*-----------------------------------------------------------*/
.menu-background {
  background: radial-gradient(circle at top center, #0a2d39, #050a09);
  width: 100%;
}
.menu-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
  z-index: 99;
  max-width: var(--max-width-content);
  margin: auto;
}
.menu-logo-img {
  height: 60px;
  width: auto;
}
.menu-logo-img:hover {
  background-image: radial-gradient(
    ellipse 70% 45% at center,
    rgba(8, 177, 189, 0.35) 0%,
    rgba(8, 177, 189, 0.15) 40%,
    rgba(10, 58, 66, 0) 80%
  );
}
.menu-mobile-buttons {
  display: flex;
  gap: 0.5rem;
}
.menu-hamburger-btn,
.menu-refresh-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 32px;
  color: rgb(255, 252, 239);
  background-color: #0b1412;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}
.menu-hamburger-btn:hover,
.menu-refresh-btn:hover {
  color: #00fbff;
  text-shadow: 0 0 10px rgb(8, 177, 189);
}
.menu-nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: #050a09;
  position: absolute;
  top: 72px;
  right: 0;
  width: 100%;
  padding: 10px 0;
  border-left: 1px solid rgb(80, 80, 80);
  border-bottom: 1px solid #9f8f5a;
  z-index: 999;
  font-family: MrEaves;
}
.menu-nav.open {
  display: flex;
}
.menu-item {
  padding: 2px 20px;
  font-size: 1.5rem;

  letter-spacing: 1.25px;
  color: rgb(255, 252, 239);
  text-decoration: none;
  border: 0;
  outline: 0;
  margin: 0;
  text-shadow: none;
  transition: text-shadow 0.15s ease-in-out;
  max-width: 250px;
}
.menu-item:hover {
  color: #00fbff;
  text-shadow: 0 0 10px rgb(8, 177, 189);
}

.menu-divider {
  height: 2px;
  background: linear-gradient(
    to right,
    #252932,
    #9f8f5a,
    #e3d19a,
    #9f8f5a,
    #252932
  );
}
/*-----------------------------------------------------------*/
/* Desktop Overrides */
/*-----------------------------------------------------------*/
@media (min-width: 769px) {
  .menu-mobile-buttons {
    display: none;
  }
  .menu-nav {
    display: flex;
    position: static;
    flex-direction: row;
    background: none;
    border: none;
    width: auto;
    padding: 0;
    align-items: center;
    gap: 18px;
  }
  .menu-item {
    padding: 0px 4px;
    font-size: 1.25rem;
  }
}
