<link rel="stylesheet" href="/css/app-menu.css" />
<link rel="stylesheet" href="/css/1-fonts/fonts.css" />

<div class="mn-background">
  <div class="mn-container">
    <a href="/" class="mn-logo">
      <img
        src="/images/branding/mf-core-logo.png"
        class="mn-logo-img"
        alt="Monster Factory Logo"
      />
    </a>

    <div class="mn-mobile-buttons">
      <button class="mn-hamburger-btn" id="menuHamburger">&#9776;</button>
    </div>

    <nav class="mn-nav" id="menuItemContainer">
      <a class="mn-item" href="/">Generator</a>
      <a class="mn-item" href="/gallery">Curated</a>
      <a class="mn-item" href="/help.html">Help</a>
      <a class="mn-item" href="/about.html">About</a>
      <a
        class="mn-item heart"
        href="https://buymeacoffee.com/ryanfuturistics"
        target="_blank"
        >Support</a
      >
    </nav>
  </div>
</div>

<div class="mn-divider"></div>
<script src="/js/navigation-engine.js"></script>
