/* ------------------------------
Index Image Container
------------------------------ */
.creature-media2 {
  margin: 1rem auto;
  display: grid;
  width: 96%;
  max-width: 900px;
  justify-content: center;
  grid-template-columns: auto 120px;
  column-gap: 2%;
  row-gap: 6px;
  grid-template-areas:
    "creature-media-image creature-attribute"
    "creature-media-image creature-type"
    "creature-media-image creature-perk";
}

.creature-media-icon {
  background: rgba(52, 46, 31, 0.15);
  border: 3px solid rgba(255, 255, 255, 0);
  padding: 2px;
  border-image: url(/images/ui/frames/MenuBackingBlue.png) 20;
}

.divider2 {
  background-image: url(/images/ui/frames/woodendividergem.png);
  background-position: 50%;
  width: 100%;
  height: 70px;
  margin: auto;
}

h1.margins {
  margin: 0px;
}
