/*-----------------------------------------------------------*/
/*Menu Bar*/
/*-----------------------------------------------------------*/
.menuBackgroundColour {
  background-image: url(/Codex/MenuBackingBlue.png);
  background-color: #050a09;
  width: 100%;
  background-position: top;
  background-repeat: repeat;
}

.menuCoreContainer {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
  z-index: 99 !important;
}

.menuBackgroundLine {
  height: 2px;
  background-color: rgb(80, 80, 80);
  box-shadow: 0 -1px 0 rgb(100, 100, 100), 0 1px 0 rgb(60, 60, 60);
}

.menuHomeIcon {
  height: 84px;
  margin: 0 auto 0;
  padding-top: 2px;
}
.menuHomeIcon:hover {
  background-image: radial-gradient(
    circle,
    rgb(8, 118, 32) 20%,
    rgba(9, 8, 9, 0) 70%
  );
}

.menuItemContainer {
  font-family: CinzelDecorative;
  display: flex;
  align-items: center;
}

.MenuItemBtn {
  font-size: 0.8rem;
  border: 0;
  outline: 0;
  margin: 0;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-shadow: none;
  color: rgb(255, 252, 239);
  transition: text-shadow 0.15s ease-in-out;
  padding: 20px 8px;
  text-decoration: none;
}
.MenuItemBtn:hover {
  text-shadow: 0 0 20px rgb(13, 172, 45);
  color: #9fffa9;
}

.MenuItemBtn::after {
  content: "\25c8";
  transform: rotate(180deg);
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  margin-left: 4px;
  margin-right: 7px;
  margin-top: -2px;
  color: rgb(255, 252, 239);
}

/*-----------------------------------------------------------*/
/*Footer*/
/*-----------------------------------------------------------*/
.footer {
  width: auto;
  background: radial-gradient(circle at top center, #08232c, #050a09);
  color: #fff;
  padding: 15px 30px;
  font-family: Tiamat-Text;
}

/* Top section: links + logo */
.footer-top {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 0 20px;
}

/* Link columns */
.footer-links {
  display: flex;
  gap: 40px;
  flex: 1;
}

.footer-column h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #9b9aa7;
}

.footer-column a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
  transition: color 0.2s ease, text-shadow 0.2s ease;
}

.footer-column a:hover {
  color: #9b9aa7;
  text-shadow: 0 0 10px #08b1bd;
}

/* Logo */
.footer-logo img {
  height: 160px;
  /*filter: drop-shadow(0 0 10px #08b1bd);*/
}

/* Divider line */
.footer-divider {
  width: 100%;
  height: 2px;
  margin: 30px 0;
  background: linear-gradient(to right, #08b1bd, #0a3a42);
  box-shadow: 0 0 10px #08b1bd;
}

/* Bottom section */
.footer-bottom {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 0 20px;
}

.disclaimer {
  color: #9b9aa7;
  margin-bottom: 20px;
  line-height: 1.5;
}

.copyright {
  color: #6f6f7a;
  font-size: 0.9rem;
}
