.container {
  max-width: var(--max-width-content);
  margin: auto;
  padding: 2rem;
}

/* ------------------------------
Shared Statblock Components
-------------------------------- */
.stat-label {
  font-size: 1rem;
  font-family: var(--font-display);
  font-weight: bold;
}
.stat-value {
  font-size: 1.25rem;
  font-family: Merriweather, serif;
}
ul.list-hang {
  margin: 0;
  padding-left: 1rem;
}
/* ------------------------------
Index Statblock
-------------------------------- */
.stat-container {
  text-align: center;
  min-width: 40px;
}
.source-book {
  text-align: center;
  font-size: 2rem;
  color: var(--color-accent);
  font-family: "Cinzel Decorative";
}
.page-number {
  text-align: center;
  font-size: 0.75rem;
}
